.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.App-main-content {
  flex: 1;
}

.App-footer {
  margin: 1%;
}


.App-header {
  background-color: #222;
  height: 50px;
  padding: 40px;
  color: white;
  text-align: right;
  flex-basis: 100%;
  flex-direction: row;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.catalogue {
  flex-wrap: wrap;
  display: flex;
}

.h1 {
  font-family: 'Rasa', serif;
}
