<head>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-RfekGV6fZXMN1XYz5oPc4N/0IDvTM1Nt6Xciam6v0Al+glvRJ2mhnsr2S6tH/qM8" crossorigin="anonymous">
</head>
<div class="jumbotron">
    <h1 style='padding-left:220px; padding-bottom:30px'>Food Forum</h1>
    <p>Your password has been succesfully changed, click on the button to go back to the login page</p>
    <div style='padding-left:270px'>
        <a class='btn btn-outline-success' href="https://foodforum-client.now.sh/login">Back to Login</a>
    </div>
</div>