<head>
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-RfekGV6fZXMN1XYz5oPc4N/0IDvTM1Nt6Xciam6v0Al+glvRJ2mhnsr2S6tH/qM8" crossorigin="anonymous">
</head>
<legend style='padding-left:250px; padding-bottom:30px'>Food Forum</legend>
<p>Your password has been succesfully changed, click on the link below to go back to the login page</p>
<a href="http://localhost:3000/login">Login</a>