.footercontent {
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: grey;
    font-family: 'Rasa', serif;
    font-weight: bold;
    
}

.contact {
flex-basis: 25%;
}

.hours {
    flex-basis: 25%;
}
