.footerwrapper {
    background-color: grey;
    font-family: 'Rasa', serif;
    font-weight: bold;
    color: white;
    min-height: 90px;
}

.footercontact{
    display:flex;
    justify-content: space-between;
    margin: 5px 0 0 5px;
}

.contact {
flex-basis: 25%;
margin: 5px 0 5px 0;
}

.hours {
    flex-basis: 25%;
    font-weight: bold;
}

.copyright {
  color:lightgrey;
}
