/* .homebanner {
    height: 90vh;
    width: 100vw;
    background-image: url("../images/lukas-budimaier-93293-unsplash-min.jpg");
} */
#showcase .bg-image {
    position: absolute;
    background: #fff url('../images/elaine-casap-86020-unsplash-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    z-index: -1;
    opacity: 0.8;
}

#showcase h1 {
    padding-top: 100px;
    padding-bottom: 0;
}
#section-a {
    min-height: 300px;
}

#showcase .content-wrap, 
#section-a .content-wrap {
    padding: 0 1.5em;
}

/* Core Styles */

body{
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #000;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img{
    display: block;
    width:100%;
    height: auto;
}

#showcase h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
    font-weight: bold;
}

.p-open {
    margin: 0;
    padding: 1em 0;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}
/* Buttons */
.btnlink{
    margin: 2.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media( max-width: 1000px){
    .button--container {
      flex: 0 1 calc(50% - 1em);
    }
  @media (max-width: 600px){
    .button--container {
      flex: 0 1 calc(100% - 1em);
    }
  }
  }
  @media (max-width: 400px) {
  .button--container {
    flex: 0 1 calc(100% - 1em);
    }
  }

.button--container{
    width: calc(25% - 1em); 
    margin: 0.25em;
    border-radius:2%;
    height: 130px;
    position: relative;
    overflow: hidden;
    color:#fff;
    text-decoration: none;
    padding:   1.5em 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);

    font-weight: bold;

}
.button--link{
    position: relative;
    z-index: 10;
    color: white;
}
.button--link:hover{
    color: white;
    text-decoration: none;
}
.button--image{
    position: absolute;
    opacity: 0.7;
    filter: blur(0px);
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
}
.button--container .button--image {
    transition: all 0.5s ease;

}
.button--container:hover .button--image{
    filter: blur(2px);
    opacity: 0.4
}


.btn-common{
    width: calc(25% - 1em); 
    margin: 0 0.25em;
    border-radius:2%;
    
    color:#fff;
    text-decoration: none;
    padding:   1em 2em;
    display: inline-block;
    font-weight: bold;

}
.btn-common:hover{
    transition: 0.2s background-color;
    color: #333; 
}
.btnmeat {
    background: url('../images/markus-spiske-680194-unsplash-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.btnfruit {
    background: url('../images/jakub-kapusnak-296131-unsplash-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.btnveg {
    background: url('../images/sharon-pittaway-562631-unsplash-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btnseafood {
    background: url('../images/erwan-hesry-209418-unsplash-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    display: inline-block;
    background: #333;
    color:#fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}
.btn:hover {
    background: #eaeaea;
    color: #333;
    text-decoration: none !important;
}



#showcase {
    min-height: 600px;
    color: #fff;
    text-align: center;
}



/* Section A */

#section-a {
    background: #eaeaea; 
    color: #333;
    padding-bottom: 2em;
}

/* Section B */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    
}

/* Section C */

#section-c {
    background: #fff;
    color: #333;
    padding: 2em;
}
#section-c p {
    color: #808080;
}



/* Media Queries */

@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    #section-a .content-text {
        columns: 2;
    }

    #section-a .content-text p {
        padding-top: 0    
    }

    .content-wrap, 
    #section-b ul {
        grid-column: 2/4;
    }

    .box, #main-footer div {
        grid-column: span 2;
    }

    #section-b ul {
        display: flex; 
        justify-content: space-around;
    }
    #section-b li {
        width: 31%
    }
}
