.homebanner{
    height: 90vh;
    width: 100vw;
    background-image: url("../images/lukas-budimaier-93293-unsplash-min.jpg")
}

.aboutbox {
    width: 50vw;
    height: 50vh;
}
.AboutUs {
    display: flex;
}