.login{
<<<<<<< HEAD
  background-color: lightgrey;
=======
>>>>>>> 8d56ca0be3c7ede38349acb506d3864be2ea4c0c
  padding: 0.5em;
}

.form-user {
  width: 380px;
margin: 0.5em auto;
padding: 1em;
background: #fafafa;
border: 1px solid #ebebeb;
box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.form-user-heading h2 {
  padding: 0.2em 0;
}

.field {
  position: relative;
}

.forgot-pass-link{
  color: #c13426;
}

.bg-image {
  position: absolute;
  background: #333 url('../images/lukas-budimaier-93293-unsplash-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  z-index: -1;
}
