.product {
  margin: 10px;
  flex-basis: calc(100% / 3);
  /* flex-direction: row;
  align-content: flex-start; */
}

.product-picture {
  height: 200px;
  width: 200px;
  margin:  auto;
  background-position: center;
  padding-top: 16px;
}

.Product-info {
  font-size: 36px;
}