.product {
  margin: 10px;
  flex-basis: calc(50% - 20px);
  /* flex-direction: row;
  align-content: flex-start; */
}

.product-picture {
  height: 200px;
  width: 200px;
  margin:  auto;
  background-position: center
}

.Product-info {
  font-size: 36px;
}